<h3><%= season.display_name %> - League table</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="narrow text-center">#</th>
        <th>Player</th>
        <th class="narrow text-center"><span title="Wins" data-toggle="tooltip" data-placement="top">W</span></th>
        <th class="narrow text-center"><span title="Losses" data-toggle="tooltip" data-placement="top">L</span></th>
        <th class="narrow text-center"><span title="Agenda Points" data-toggle="tooltip" data-placement="top">AP</span></th>
        <th class="narrow text-center"><span title="League Points" data-toggle="tooltip" data-placement="top">LP</span></th>
      </tr>
    </thead>
    <tbody>
      <% season.table.each_with_index do |row,pos| %>
        <tr>
          <td class="text-center"><%= pos + 1 %></td>
          <td><%= row[:name] %></td>
          <td class="text-center"><%= row[:wins] %></td>
          <td class="text-center"><%= row[:losses] %></td>
          <td class="text-center"><%= row[:ap] %></td>
          <td class="text-center"><%= row[:lp] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
