<h3><%= season.display_name %> - League table</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="narrow text-center">#</th>
        <th>Player</th>
        <th class="narrow text-center"><span title="Wins" data-toggle="tooltip" data-placement="top">W</span></th>
        <th class="narrow text-center"><span title="Losses" data-toggle="tooltip" data-placement="top">L</span></th>
        <th class="narrow text-center"><span title="Agenda Points" data-toggle="tooltip" data-placement="top">AP</span></th>
        <th class="narrow text-center"><span title="League Points" data-toggle="tooltip" data-placement="top">LP</span></th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="6" class="text-center"><em>Coming soon!</em></td></tr>
      <% (1..5).each do |i| %>
        <tr>
          <td class="text-center"><%= i %></td>
          <td><%= current_user.display_name %><%= " <small>#{current_user.jinteki_username}</small>".html_safe unless current_user.jinteki_username.blank? %></td>
          <td class="text-center"><%= rand(1..5) %></td>
          <td class="text-center"><%= rand(1..5) %></td>
          <td class="text-center"><%= rand(1..45) %></td>
          <td class="text-center"><%= rand(1..45) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
