<h3><%= season.display_name %> - League table</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="narrow text-center">#</th>
        <th>Player</th>
        <th class="narrow text-center"><span title="Played" data-toggle="tooltip" data-placement="top">P</span></th>
        <th class="narrow text-center"><span title="Won" data-toggle="tooltip" data-placement="top">W</span></th>
        <th class="narrow text-center"><span title="Lost" data-toggle="tooltip" data-placement="top">L</span></th>
        <th class="narrow text-center"><span title="Agenda Points" data-toggle="tooltip" data-placement="top">AP</span></th>
        <th class="narrow text-center"><span title="League Points" data-toggle="tooltip" data-placement="top">LP</span></th>
      </tr>
    </thead>
    <tbody>
      <% last_lp = nil %>
      <% last_pos = 1 %>
      <% season.table.each_with_index do |row,i| %>
        <% pos = last_lp == row[:lp] ? last_pos : i+1 %>
        <tr>
          <td class="text-center"><%= pos %></td>
          <td><%= row[:name] %></td>
          <td class="text-center"><%= row[:played] %></td>
          <td class="text-center"><%= row[:wins] %></td>
          <td class="text-center"><%= row[:losses] %></td>
          <td class="text-center"><%= row[:ap] %></td>
          <td class="text-center"><%= row[:lp] %></td>
        </tr>
        <% last_lp = row[:lp] %>
        <% last_pos = pos %>
      <% end %>
    </tbody>
  </table>
</div>
