  <div class="form-group">
    <%= f.label :display_name, "League name", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :display_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :privacy, "Memberships", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <label class="checkbox" style="font-weight:normal;"><%= f.radio_button :privacy, "open" %> <strong>Public</strong> &ndash; Anyone can join</label>
      <label class="checkbox" style="font-weight:normal;"><%= f.radio_button :privacy, "closed" %> <strong>Private</strong> &ndash; Requests must be approved</label>
      <label class="checkbox" style="font-weight:normal;"><%= f.radio_button :privacy, "invitational" %> <strong>Invitational</strong> &ndash; Players must be invited</label>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :table_privacy, "League table", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.select :table_privacy, options_for_select([["Public - visible to everyone","public"],["Private - visible only to members","private"]], league.table_privacy), {}, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_type, "Location", class: "col-md-4 control-label" %>
    <div class="col-md-3">
      <%= f.select :location_type, options_for_select([["Offline","offline"],["Online","online"]], league.location_type), {}, { id:"type-select", class: "form-control" } %>
    </div>
    <div class="col-md-5">
      <div class="location-select offline">
        <%= text_field_tag :lookup_address, league.latlong, id: "lookup-address", class: "form-control" %>
      </div>
      <div class="location-select online">
        <%= f.text_field :online_location, placeholder: "http://...", class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group location-select offline">
    <div class="col-md-8 col-md-offset-4">
      <div class="location-select offline">
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <div id="map-picker" style="width:100%; height: 200px;"></div>
        <small class="help-block">Click and drag the marker for precise position</small>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :description_markdown, class: "form-control", placeholder: "Provide information about day/time of offline group meetings, specific directions to location", rows: 12, maxlength:500 %>
      <small class="help-block">Accepts <a href="https://daringfireball.net/projects/markdown/dingus" target="_blank">markdown</a>. Maximum of 500 characters.</small>
    </div>
  </div>

  <% if league.new_record? %>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-4">
        <%= render partial: "shared/recaptcha" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-8 col-md-offset-4">
      <%= f.submit "Save", class: "btn btn-success" %>
    </div>
  </div>

<script type="text/javascript">
var latitude = <%= league.latitude %>;
var longitude = <%= league.longitude %>;

var getLocation = function() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position){
      latitude = position.coords.latitude;
      longitude = position.coords.longitude; 
      setMapPicker(latitude,longitude);
    });
  } else {
    setMapPicker(latitude,longitude);
  }
};

var setMapPicker = function(latitude,longitude){
  $('#map-picker').locationpicker({
    location: {
      latitude: latitude,
      longitude: longitude
    },
    radius: 50,
    inputBinding: {
      locationNameInput: $('#lookup-address')
    },
    enableAutocomplete: true,
    onchanged: function(currentLocation, radius, isMarkerDropped) {
      $('#liga_latitude').val(currentLocation.latitude);
      $('#liga_longitude').val(currentLocation.longitude);
    }
  });
}

var toggleLocation = function(){
  <% if league.location_type == "offline" %>
    $('.online').hide();
  <% elsif league.location_type == "online" %>
    $('.offline').hide();
  <% end %>
}

var form_ready = function(){
  <% if league.latitude.blank? || league.latitude == 0 %>
  getLocation();
  <% else %>
  setMapPicker(latitude,longitude);
  <% end %>
  window.setTimeout(toggleLocation,500);

  $('#type-select').on('change',function(e){
    var show = $(this).val();
    $('.location-select').hide();
    $('.location-select.'+show).show();
  });

  // Prevent premature form submission with the location search box
  $('#lookup-address').keydown(function(event){
    if(event.keyCode == "13"){ event.preventDefault(); return false; }
  });
};

$(document).ready(form_ready);
$(document).on('page:load', form_ready);
</script>
