<h1><%= @league.display_name %> <small>Edit</small></h1>

<div class="row">
  <div class="col-md-6">
    <h3>League details</h3>
    <%= form_for @league, url: league_path(@league.id), html: { class: "form-horizontal" } do |f| %>
      <%= render partial: "leagues/form", locals: { f: f } %>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Seasons</h3>
    <h4>New Season</h4>
    <%= render partial: "seasons/form", locals: { season: @season } %>
    <h4>Existing</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% if @league.seasons.any? %>
          <% @league.seasons.each do |season| %>
            <tr<% if season.id == @current_season_id %> class="success"<% end %>>
              <td>
                <%= season.display_name %>
                <%= link_to "<small>Edit</small>".html_safe, edit_league_season_path(@league.id,season.id) if season.upcoming? %>
              </td>
              <td>
                <%= season.aasm_state.humanize %>
              </td>
              <td>
                <%= link_to "Set active", activate_league_season_path(@league.id,season.id), class: "btn btn-xs btn-default" if season.may_activate? %>
                <%= link_to "Close", "#close", class:"btn btn-xs btn-warning" if season.may_close? %>
                <%= link_to "Export", "#download", class:"btn btn-xs btn-info" unless season.upcoming? %>
                <%= link_to "Delete", "javascript:void(0);", "data-href":league_season_path(@league.id,season.id), "data-action": :delete, class:"btn btn-xs btn-danger" if season.closed? %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

    <h3>Users</h3>

    <%= form_tag league_invite_path(@league.id), class: "form-horizontal" do %>
      <div class="form-group">
        <div class="col-md-12">
          <%= label_tag :email, "Email address", class: "sr-only" %>
          <div class="input-group">
            <%= text_field_tag :email, "", placeholder: "Invite by email address", class: "form-control" %>
            <span class="input-group-btn"><%= submit_tag "Send invitation", class: "btn btn-success" %></span>
          </div>
        </div>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player Name</th>
            <th>Role/Status</th>
            <th>Actions</th|>
          </tr>
        </thead>
        <tbody>
          <% @league.liga_users.order(officer: :desc).each do |player| %>
            <tr>
              <td><%= player.display_name %></td>
              <td>
                <% if player.approved? %>
                  <%= player.officer ? "Officer" : "Member" %>
                <% elsif player.invited? %>
                  <em>Invited</em>
                <% elsif player.requested? %>
                  <em>Pending</em>
                <% end %>
              </td>
              <td>
                <% unless player.user == current_user %>
                  <%= link_to "Accept", "#", class: "btn btn-default btn-xs" if player.may_approve? %>
                  <%= link_to "Promote", "#", class: "btn btn-default btn-xs" if player.may_promote? %>
                  <%= link_to "Demote", "#", class: "btn btn-default btn-xs" if player.may_demote? %>
                  <%= link_to "Ban", "#", class: "btn btn-default btn-xs" if player.may_ban? %>
                  <%= link_to "Remove", "#", class: "btn btn-default btn-xs" %>
                <% else %>
                  <em>This is you</em>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render partial: "shared/delete_confirmation_modal", locals: { model_name: "League Season", additional_message: "You will be unable to view the table for this league season on #{SITE_NAME} after this - make sure you've exported the results if you want to keep records." } %>
