<ul class="breadcrumb">
  <li><%= link_to "Leagues", leagues_path %></li>
  <li class="active"><%= @league.display_name %></li>
</ul>

<h1>
  <%= @league.display_name %>
  <%= league_member(@league) %>  
  <small><% if @league.offline? %><%= @league.offline_location %><% elsif @league.online? %><%= link_to "Online", @league.online_location, target:"_blank" %><% else %>No location specified<% end %></small>
</h1>

<% if @officer %>
  <p><%= link_to "Manage", edit_league_path(@league.id), class:"btn btn-default btn-sm" %></p> 
<% end %>

<% unless @member %>
  <% unless @league.invitational? %>
    <p><%= form_tag league_join_index_path(@league.id) do %><%= submit_tag (@league.closed? ? "Request to join this league" : "Join this league"), class: "btn btn-success" %><% end %></p>
  <% else %>
    <p><button class="btn btn-default disabled">This league is invitation-only</button></p>
  <% end %>
<% end %>


<div class="row">
  <div class="col-md-8">
    <% unless @season.blank? %>

      <% if @league.table_public? || @member %>
        <%= render partial: "seasons/league_table", locals: { season: @season } %>
      <% end %>

      <% if @member %>
        <h3>My Games</h3>
        <% if @games.any? %>
          <%= render partial: "seasons/user_games", locals: { games: @games } %>
          <p class="text-right"><%= link_to "All my games", league_season_games_path(@league.id,@season.id) %></p>
        <% else %>
          <p><em>You don't have any unplayed games</em></p>
        <% end %>
      <% end %>
    <% else %>
      <h3>We're still getting ready!</h3>
      <p>This league doesn't have an active season at the moment.</p>
      <% unless @member %>
        <% unless @league.invitational? %>
          <p>Click the button above to <% if @league.closed? %>submit a membership request for<% else %>join<% end %> this league and <% if @league.closed? %>once your application's been approved<% end %> you'll have the option of being notified when the new season starts.</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>About</h3> 
    <%= (@league.description_html.blank? ? "<em>No description has been provided.</em>" : @league.description_html).html_safe %>
    <h3>Where we play</h3>
    <% if @league.offline? %>
      <div class="map-container square">
        <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["maps_api_key"] %>&q=<%= @league.latlong %>" allowfullscreen></iframe>
      </div>
    <% end %>
    <% if @league.online? %>
      <%= link_to @league.online_location, @league.online_location, target:"_blank" %>
    <% end %>

    <!-- ads -->
    <%= render partial: "shared/ads", locals: {} %>
  </div>
</div>

<%= render partial: "games/results_popup", locals: {} %>
