<ul class="breadcrumb">
  <li><%= link_to "Admin", admin_path %></li>
  <li class="active">Identities</li>
</ul>

<h1>Manage Player Identities</h1>

<h3>Create new identity</h3>
<%= render partial: "admin/identities/form", locals: { identity: @identity, factions: @factions } %>



<div class="row">
  <div class="col-md-6">
    <h3>Existing corp identities (<%= @identities.corp.count %>)</h3>
    <%= render partial: "admin/identities/table", locals: { identities: @identities.corp } %>
  </div>
  <div class="col-md-6">
    <h3>Existing runner identities (<%= @identities.runner.count %>)</h3>
    <%= render partial: "admin/identities/table", locals: { identities: @identities.runner } %>
  </div>
</div>

<%= render partial: "shared/delete_confirmation_modal", locals: { model_name: "Identity" } %>
