<h1>Welcome to <%= SITE_NAME %></h1>

<div class="row">
  <div class="col-md-6">
    <% if logged_in? %>
      <h3>Logged in users</h3>
      <p>List of games from membership leagues?</p>
    <% end %>

    <h3>NetrunnerDB Integration Test</h3>
    <p><%= link_to "Public Terminal", "https://netrunnerdb.com/en/card/05038" %></p>

    <h4>https://netrunnerdb.com/api/card/05038</h4>
    <code><%= @api_request %></code>

  </div>

  <div class="col-md-4">
    <h3>Recently started seasons</h3>
    <ul class="list-unstyled">
      <% @recent.each do |season| %>
        <li><%= pretty_date(season.activated_at) %> &ndash; <%= link_to season.league.display_name, league_path(season.league_id) %>, <%= season.display_name %></li>
      <% end %>
    </ul>
  </div>
</div>
