<h1>Edit profile</h1>

  <div class="row">
    <div class="col-md-6">
      <h3>Profile details</h3>
      <%= form_for @user, url: profile_path, html: { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <%= f.label :email, "Email address", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :email, class: "form-control" %>
            <small class="help-block">This will be used to fetch your <%= link_to "Gravatar", "https://en.gravatar.com/", target: "_blank" %> profile image</small>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :display_name, "Display name", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :display_name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :jinteki_username, "Jinteki Username", class: "col-md-4 control-label" %>
          <div class="col-md-8">
            <%= f.text_field :jinteki_username, class: "form-control", placeholder: "Optional" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <%= f.submit "Update profile", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>


      <h3>Notification preferences</h3>
      <%= form_for @user, url: update_notifications_profile_path, html: { class: "form-horizontal" } do |f| %>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <label class="checkbox" style="font-weight:normal;">
              <%= f.check_box :notify_game_result %>
              <strong data-toggle="popover" data-content="Emails sent when a game you're a player in has its result saved">Game Results</strong>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <label class="checkbox" style="font-weight:normal;">
              <%= f.check_box :notify_league_broadcast %>
              <strong data-toggle="popover" data-content="Messages sent by organizers to a league's members">League broadcasts</strong>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <%= f.submit "Save preferences", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <h3>Update password</h3>
      <%= form_tag update_password_profile_path, class: "form-horizontal" do |f| %>
        <div class="form-group">
          <%= label_tag :current_password, "Current password", class: "control-label col-md-4" %>
          <div class="col-md-8">
            <%= password_field_tag :current_password, "", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :new_password, "New password", class: "control-label col-md-4" %>
          <div class="col-md-8">
            <%= password_field_tag :new_password, "", class: "form-control" %>
            <small class="help-block">Passwords must contain at least one upper- and lower-case letter, and at least one number</small>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :new_password_confirmation, "Confirm new password", class: "control-label col-md-4" %>
          <div class="col-md-8">
            <%= password_field_tag :new_password_confirmation, "", class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8 col-md-offset-4">
            <%= submit_tag "Update password", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $('[data-toggle="popover"]').popover({ trigger:"hover" })
  </script>
