<h1>
  <%= gravatar_image_tag(@user.email, :class => 'img-rounded', :gravatar => { :size => 50, :rating => "g" }) %>
  <%= @user.display_name %>
  <% unless @user.display_name == @user.jinteki_username %>
    <small><%= @user.jinteki_username %></small>
  <% end %>
  <% unless logged_in? && @user == current_user %>
    <span class="pull-right"><%= link_to '<i class="fa fa-flag-o"></i>'.html_safe, new_report_path("users",@user.id), class: "btn btn-default" %></span>
<% end %>
</h1>

<% if @own_profile %>
  <p><%= link_to "Edit profile", edit_profile_path, class: "btn btn-default" %></p>
<% end %>

<% unless @user.about_html.blank? %>
<h3>About me</h3>
<%= @user.about_html.html_safe %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h3>League Memberships</h3>
    <% if @memberships.any? %>
      <% @memberships.each do |league| %>
        <%= render partial: "leagues/mini", locals: { league: league, user: @user } %>
      <% end %>
    <% else %>
      <p><%= @own_profile ? "You have" : "This user has" %>n't joined any leagues yet.</p>
    <% end %>
  </div>
</div>
