<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% if @require_maps %><script type="text/javascript" src='//maps.google.com/maps/api/js?libraries=places&key=<%= ENV['maps_api_key'] %>'></script><% end %>
    <link href='//fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Source+Serif+Pro:400,600' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag '//netrunnerdb.com/bundles/netrunnerdbbuilder/netrunnerfont.css', media: 'all' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="iframe">
    <div class="container">
      <%= render partial: "shared/alerts" %>
      <%= yield %>
    </div>
  </body>
</html>
