<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8;" http-equiv="Content-Type" />
    <title><%= @subject %></title>
  </head>
  <body>
    <%= yield %>
    <p><em>&mdash;The <%= SITE_NAME %> team</em></p>
    <p><small>You can change which notifications you reveive from <%= SITE_NAME %> by <%= link_to "logging in", login_url %> and <%= link_to "updating your preferences", profile_url(anchor:"#notifications") %>.
  </body>
</html>
